<navbar>
    <div class="nav">
        <!-- <ul>
            <li>Today</li>
            <li>Work</li>
        </ul> -->
        <form action="today"><button>Today</button></form>
        <form action="click"><button>Work</button></form>
    </div>
</navbar>
