<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do List Application</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include("partials/header.ejs") %>

    <section class="full">
      <div class="main">
        <h1 id="first_h1">Welcome To my Website!</h1>
        <form action="click" method="get">
          <button id="first_button">To-Do</button>
        </form>
      </div>
    </section>

    <%- include("partials/footer.ejs") %>
  </body>
</html>
